.well.clearfix
  %h4 Your Students
  %table.table
    %tr
      %th Name
      %th Grade
      %th Experience
      %th Highest Achievement
      %th
    - current_user.students.each do |student|
      %tr
        %td= student.name
        %td= student.grade
        %td= student.experience
        %td= student.achievement_with_maximum_level ? student.achievement_with_maximum_level.name : 'None'
        %td= link_to 'Edit', edit_student_path(student)
  .pull-right
    =link_to 'Add New', new_student_path, class: 'btn btn-primary'
