.container
  .row
    .col-lg-12
      %h1.page-header
        = current_user.email
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li
          = link_to 'Home', root_path
        %li.active User Profile
      - if @current_user.registration_not_complete?
        = render partial: 'complete_registration'
      - elsif @current_user.no_students?
        = render partial: 'no_students'
      = render partial: 'students'
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
        .well
          %h4 Account Information
          = devise_error_messages!
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :email
            = f.email_field :email, class: 'form-control'
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
          .form-group
            = f.input :mobile_number, as: :tel, label: "Mobile number (gives us the ability to txt changes in schedule)"
        .well
          %fieldset
            %h4 Password Change
            %p Leave these fields blank if you don't want to change your password.
            .form-group
              = f.label :password
              = f.password_field :password, :autocomplete => 'off', class: 'form-control'
            .form-group
              = f.label :password_confirmation
              = f.password_field :password_confirmation, class: 'form-control'
        .well
          %fieldset
            %p You must enter your current password to make changes.
            .form-group
              = f.label :current_password
              = f.password_field :current_password, class: 'form-control'
          = f.submit 'Update', :class => 'btn btn-primary'
      .well
        %h4 Cancel Account
        %p Unhappy? We'll be sad to see you go.
        = button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger'
