.bg
.jumbotron
  = image_tag "logo_vert_lg.png"
#main.container
  .row
    .col-lg-12
      %h1.page-header
        Welcome to the Safety Harbor CoderDojo
    .col-md-9
      %p
        Safety Harbor CoderDojo is part of the #{link_to "CoderDojo", "http://www.coderdojo.com"} movement,  -- free, volunteer-led,
        community based programming clubs for young people. At a Dojo, young people, between 7 and 17, learn how to code, develop websites,
        apps, programs, games and explore technology in an informal and creative environment. In addition to learning to code attendees meet
        like minded people and are exposed to the possibilities of technology.
      %br/
      %p
        Within the CoderDojo Movement there is a focus on community, peer learning, youth mentoring and self led learning,  with an emphasis
        on showing how coding is a force for change in the world.
      %br/
      %p
        We meet at the Safety Harbor Public Library at 101 2nd Street North, Safety Harbor, FL 34695. Check the #{link_to "Sessions", courses_path}
        page for our current schedule.
    .col-md-3
      = image_tag "home_img_01.png", class: "img-circle img-responsive"
  %hr/
  .well
    .row
      .col-md-8
        %p Welcome new Ninjas & Parents!  Please join our Safety Harbor Coderdojo by registering each child here and then visit our "Sessions" page to sign up for a specific program session!
      .col-md-4
        = link_to "Join Here", new_user_registration_path, class: "btn btn-lg btn-default btn-block"
