.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        Edit Course Session (Admin Only)
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li= link_to 'Courses', courses_path
        %li= link_to @session.course.name, course_path(@session.course)
        %li.active Edit Session
  .row
    .col-md-12
      .well
        = simple_form_for [:admin, @session], url: url_for(action: :update, controller: :sessions) do |f|
          = f.error_notification
          .form-inputs
            = f.input :course_id, as: :hidden
            = f.input :session_date, input_html: { class: 'flatpickr' }, as: :string
            = f.input :notes, input_html: { class: 'editor' }
          .form-actions
            = f.button :submit, input_html: { class: 'btn-block'}
  .row
    .col-md-12
      = link_to 'Delete Session',
        course_session_path(@session),
        method: :delete,
        data: { confirm: 'Are you sure? This action cannot be undone.' },
        class: 'btn btn-danger btn-block'
