.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        Admin - Achievements
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li= link_to 'Admin', admin_users_path
        %li.active Achievements
  .row
    .col-md-12

      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th
            %th

        %tbody
          - @achievements.each do |achievement|
            %tr
              %td= achievement.name
              %td= link_to 'Edit', edit_admin_achievement_path(achievement)
              %td= link_to 'Destroy', admin_achievement_path(achievement), :method => :delete, :data => { :confirm => 'Are you sure?' }

      %br

      = link_to 'New Achievement', new_admin_achievement_path
