.container
  .row
    .col-lg-12
      %h1.page-header
        Course Registrations & Attendance
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li= link_to 'Courses', courses_path
        %li= link_to @course.name, @course
        %li.active Registration & Attendance
      .pull-right
        = link_to 'Export', admin_course_course_registrations_path(course_id: @course.id, format: 'csv'), class: 'btn btn-default'
  .row
    .col-md-12
      = search_form_for @q, url: admin_course_course_registrations_path do |f|
        %table.table.table-fixed
          %thead
            %tr
              %th
              %th= sort_link(@q, :student_name, 'Student')
              %th= sort_link(@q, :user_name, 'Parent Account')
              %th= sort_link(@q, :created_at, 'Registered')
              - @sessions.each do |session|
                %th= session.session_date.strftime("%-m/%-e")
            %tr
              %th
              %th
                = f.search_field :student_name_cont, label: false
                = f.button :button do
                  %i.fa.fa-search
              %th
                = f.search_field :user_name_cont, label: false
                = f.button :button do
                  %i.fa.fa-search
          %tbody
            - @course_registrations.each_with_index do |course_registration, i|
              %tr
                %td= i+1
                %td
                  #{link_to course_registration.student.name, admin_user_student_path(user_id: course_registration.user.id, id: course_registration.student.id)} (#{course_registration.count_student_attendances})
                %td= link_to course_registration.student.user.name, admin_user_path(course_registration.student.user.id)
                %td= course_registration.created_at.strftime("%-m/%-e/%Y %l:%M%p")
                - @sessions.each do |session|
                  - attendance = session.attended_by_student?(course_registration.student_id)
                  - if attendance == false
                    -# action when student is not marked as present
                    %td= link_to 'Not Present',
                      admin_attendances_path(student_id: course_registration.student.id,
                      session_id: session.id),
                      method: :post,
                      class: 'btn btn-warning btn-block'
                  - else
                    -# action when student is marked as present
                    %td= link_to 'Present',
                      admin_attendance_path(attendance.id),
                      method: :delete,
                      class: 'btn btn-success btn-block',
                      data: { confirm: 'Are you sure?' }
