.container
  .row
    .col-lg-12
      %h1.page-header
        Admin - Student Course Registration
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li= link_to 'Admin', admin_users_path
        %li= link_to 'Users', admin_users_path
        %li= link_to @user.email, admin_user_path(@user.id)
        %li= link_to @student.name, admin_user_student_path(user_id: @user.id, id: @student.id)
        %li.active New Course Registration
  .row
    .col-md-12
      .well
        %h3 New Student Course Registration
        = simple_form_for @course_registration, url: admin_course_registrations_path do |f|
          = f.error_notification
          .form-inputs
            = f.association :student
            = f.association :course, collection: Course.where(enrollable: true).order(:name)
          .form-actions
            = f.button :submit, input_html: { class: 'btn-block'}
