.container
  .row
    .col-lg-12
      %h1.page-header
        Admin - Student
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li= link_to 'Admin', admin_users_path
        %li= link_to 'Users', admin_users_path
        %li= link_to @user.email, admin_user_path(@user.id)
        %li.active Student Admin - #{@student.name}
  .row
    .col-md-12
      .well
        %h3 Student Details
        .pull-right
          = link_to "Edit", edit_admin_user_student_path(user_id: @user.id, student_id: @student.id), :class => 'btn btn-info'
        %table.table.table-fixed
          %tr
            %th Name:
            %td= @student.name
          %tr
            %th Grade:
            %td= @student.grade
          %tr
            %th Experience:
            %td= @student.experience
          %tr
            %th Created:
            %td= @student.created_at.strftime("%-m/%-e/%Y %l:%M%p")
      .well
        %h3
          Registrations
        .pull-right
          = link_to "New", new_admin_course_registration_path(user_id: @user.id, student_id: @student.id), :class => 'btn btn-info'
        %table.table
          %tr
            %th Course
            %th Registered
            %th
          - @student.course_registrations.each do |course_registration|
            %tr
              %td= link_to course_registration.course.name, course_path(course_registration.course)
              %td= course_registration.created_at.strftime("%-m/%-e/%Y %l:%M%p")
              %td= link_to 'Delete',
                admin_course_course_registration_path(course_id: course_registration.course.id, id: course_registration.id),
                method: :delete,
                data: { confirm: 'Are you sure?' }
      .well
        %h3
          Achievements
        .pull-right
          = link_to "New Achievement",
            new_admin_user_student_student_achievement_path(user_id: @user.id, student_id: @student.id),
            :class => 'btn btn-info'
        %table.table
          %tr
            %th Achievement
            %th Received
            %th
            %th
          - @student.student_achievements.each do |student_achievement|
            %tr
              %td= student_achievement.name
              %td= student_achievement.created_at.strftime("%-m/%-e/%Y %l:%M%p")
              %td
                %td= link_to 'Delete', admin_user_student_student_achievement_path(id: student_achievement.id, student_id: student_achievement.student_id), method: :delete, data: { confirm: 'Are you sure?' }
