.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        Admin - Edit Topic
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li= link_to 'Home', 'http://www.shcoderdojo.org'
        %li= link_to 'Admin', admin_users_path
        %li= link_to 'Topics', admin_topics_path
        %li.active Edit Topic - #{@topic.name}
  .row
    .col-md-12

      = simple_form_for @topic, url: admin_topic_path(@topic) do |f|
        = f.error_notification

        .form-group
          = f.input :name
        .form-group
          = f.input :sequence, collection: 1..20
        .form-actions
          = f.button :submit, 'Save'


      = link_to 'Back', admin_topics_path
