.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        Resources
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li= link_to 'Home', 'http://www.shcoderdojo.org'
        %li.active Resources
  .row
    .col-lg-12
      %h2.page-header Coding Activity Resources

  .row.match-my-cols
    .col-md-3.col-sm6
      .panel.panel-default.text-center
        .panel-heading
          = link_to "http://coderdojo.com" do
            = image_tag "coderdojo_logo", class: 'img-responsive'
        .panel-body
          %p
            #{link_to "CoderDojo.com", "http://coderdojo.com"} lists everything from tutorials and teaching concepts to partner
            resources and e-books. Really great curriculum and projects that can be led by any CoderDojo volunteer.
          = link_to "Learn More", "http://coderdojo.com", class: 'btn btn-info'

    .col-md-3.col-sm6
      .panel.panel-default.text-center
        .panel-heading
          = link_to "http://code.org" do
            = image_tag "code_org_logo", class: 'img-responsive'
        .panel-body
          %p
            #{link_to "Code.org", "http://code.org"} is a non-profit dedicated to expanding access to computer science, and
            increasing participation by women and underrepresented students of color.
          = link_to "Learn More", "http://code.org", class: 'btn btn-info'

    .col-md-3.col-sm6
      .panel.panel-default.text-center
        .panel-heading
          = link_to "https://www.cs-first.com/materials" do
            = image_tag "google-cs-first", class: 'img-responsive'
        .panel-body
          %p
            CS First provides free curriculum targeted at students ages 9-14. These activities can be tailored to fit your schedule
            and needs and involve block-based coding using Scratch. Lessons are themed to attract students with varied interests and
            Champions can also order a set of stickers, student passports, and other materials for free from Google to use with their club.
          = link_to "Learn More", "https://www.cs-first.com/materials", class: 'btn btn-info'

    .col-md-3.col-sm6
      .panel.panel-default.text-center
        .panel-heading
          = link_to "http://scratch.mit.edu" do
            = image_tag "scratch_logo", class: 'img-responsive'
        .panel-body
          %p
            Using Scratch, students program their own interactive stories, games, and animations. The platform is targeted at youth from
            8-18 but can be enjoyed by all ages!
          = link_to "Learn More", "http://scratch.mit.edu", class: 'btn btn-info'

  .row.match-my-cols
    .col-md-3.col-sm6
      .panel.panel-default.text-center
        .panel-heading
          = link_to "https://www.codecademy.com/" do
            = image_tag "codeacademy_logo", class: 'img-responsive'
        .panel-body
          %p
            More suitable for older students or students with a desire to learn the fundamentals of a specific coding language, Codecademy
            provides a series of free courses in HTML, CSS, Ruby on Rails, SQL and more.
          = link_to "Learn More", "https://www.codecademy.com/", class: 'btn btn-info'

    .col-md-3.col-sm6
      .panel.panel-default.text-center
        .panel-heading
          = link_to "https://www.raspberrypi.org/resources/" do
            = image_tag "raspi_logo", class: 'img-responsive'
        .panel-body
          %p
            The Raspberry Pi Foundation has developed a long list of activities that are specifically designed for use with Raspberry Pis -
            credit card sized computers that are fantastic additions to any coding club!
          = link_to "Learn More", "https://www.raspberrypi.org/resources/", class: 'btn btn-info'

    .col-md-3.col-sm6
      .panel.panel-default.text-center
        .panel-heading
          = link_to "http://www.techgirlz.org/techshopz-in-a-box/" do
            = image_tag "techgirlz", class: 'img-responsive'
        .panel-body
          %p
            Open sourced lesson plans, documents, and procedures developed by TechGirlz to allow anyone, anywhere to run their workshops targeted at middle school girls.
          = link_to "Learn More", "http://www.techgirlz.org/techshopz-in-a-box/", class: 'btn btn-info'

    .col-md-3.col-sm6
      .panel.panel-default.text-center
        .panel-heading
          = link_to "http://www.codewarriorsgame.com/kai-web-kai/login" do
            = image_tag "code_warriors", class: 'img-responsive'
        .panel-body
          %p
            Kuato Studios' Code Warriors game is a great introduction activity for young students without prior exposure to coding. This resource teaches
            students the basic elements of JavaScript, as well as computational thinking and algorithms, in a fun, game-based environment.
          = link_to "Learn More", "http://www.codewarriorsgame.com/kai-web-kai/login", class: 'btn btn-info'

    .col-md-3.col-sm6
      .panel.panel-default.text-center
        .panel-heading
          = link_to "http://www.csunplugged.org/" do
            = image_tag "csunplugged", class: 'img-responsive'
        .panel-body
          %p
            No computer? No problem! These free "unplugged" activities introduce K-12 students to computational thinking through concepts such as binary
            numbers, algorithms and data compression and do no require internet or computers.
          = link_to "Learn More", "http://www.csunplugged.org/", class: 'btn btn-info'

    .col-md-3.col-sm6
      .panel.panel-default.text-center
        .panel-heading
          = link_to "http://www.greenfoot.org/overview" do
            = image_tag "greenfoot", class: 'img-responsive'
        .panel-body
          %p
            Greenfoot is a free educational webapp that teaches students real object-oriented programming in Java.Students create 'actors' which live in
            'worlds' to build games, simulations, and other graphical programs. This resource will require a little extra prep time for volunteers to
            become familiar with the program but provides a great resource for students to get started learning a language with real-world applications!
          = link_to "Learn More", "http://www.greenfoot.org/overview", class: 'btn btn-info'

    .col-md-3.col-sm6
      .panel.panel-default.text-center
        .panel-heading
          = link_to "https://mva.microsoft.com/training-topics/imagine-learn-to-code#!lang=1033" do
            = image_tag "msimagine", class: 'img-responsive'
        .panel-body
          %p
            Microsoft Imagine and Microsoft Virtual Academy provide a wide variety of free 30 minute video tutorials introducing topics like C#, Python,
            game developments, and many more! Great for adults or students looking for a very straightforward approach to learning new material.
          = link_to "Learn More", "https://mva.microsoft.com/training-topics/imagine-learn-to-code#!lang=1033", class: 'btn btn-info'
