.container
  .row
    .col-lg-12
      %h1.page-header
        Courses
        %small Safety Harbor CoderDojo
        - if current_user.try(:admin?)
          .pull-right
            = link_to 'New Course', new_course_path, :class => 'btn btn-primary'
      %ol.breadcrumb
        %li
          = link_to 'Home', root_path
        %li.active Courses
  .row
    .col-md-12
      %h2 Current and Upcoming Courses
      - @courses.each do |course|
        .well.clearfix
          .row
            .col-md-9
              %h3= link_to course.name, course_path(course)
              %p= course.description
            .col-md-3
              .pull-right
                = link_to "Register", new_course_registration_path(course_id: course), :class => 'btn btn-primary'
                %p.text-center{style: 'margin-top: 10px;'}
                  %strong Dates:

      %h2 Past Courses
      - @past_courses.each do |course|
        .well.clearfix
          .row
            .col-md-9
              %h3= link_to course.name, course_path(course)
              %p= course.description
            .col-md-3
              .pull-right
                = link_to "Register", '#', :class => 'btn btn-primary disabled'
                %p.text-center{style: 'margin-top: 10px;'}
                  %strong Dates:
