<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Description</th>
      <th>Max students</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.start_date %></td>
        <td><%= course.end_date %></td>
        <td><%= course.description %></td>
        <td><%= course.max_students %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
