.container
  .row
    .col-lg-12
      %h1.page-header
        Courses
        %small Safety Harbor CoderDojo
        - if current_user.try(:admin?)
          .pull-right
            = link_to 'New Course', new_course_path, :class => 'btn btn-primary'
      %ol.breadcrumb
        %li
          = link_to 'Home', root_path
        %li.active Courses
  - if user_signed_in?
    .row
      .col-md-12
        %h2 Your Registered Courses
        - if current_user.current_registrations.count == 0
          .well.clearfix
            .row
              .col-md-12
                %h3 You have no current course registrations
        - else
          .well.clearfix
            .row
              %table.table
                %tr
                  %th Course
                  %th Student
                  %th Registered on
                - current_user.current_registrations.each do |course_registration|
                  %tr
                    %td= link_to course_registration.course.name,
                      course_path(course_registration.course.id)
                    %td= course_registration.student.name
                    %td= course_registration.created_at.strftime("%-m/%-e/%Y %l:%M%p")
  - if user_signed_in? && current_user.try(:admin?)
    .row
      .col-md-12
        %h2 Unpublished Courses
        - @unpublished_courses.each do |course|
          .well.clearfix
            .row
              .col-md-9
                %h3
                  = link_to course.name, course_path(course)
                  %small #{course.max_students - course.course_registrations.count} of #{course.max_students} seats available
                %p= course.description.html_safe
              .col-md-3
                .row
                  .col-md-12
                    .pull-right.clearfix
                      .course-button{style: 'margin-bottom: 5px;'}
                        = link_to "More Info", course_path(course), class: 'btn btn-success btn-block text-right'
                .row
                  .col-md-12
                    .text-right{style: 'margin-top: 10px;'}
                      %strong
                        %div= course.sessions.first.session_date.strftime("%-m/%-e/%Y") unless course.sessions.count == 0
                        %div thru
                        %div= course.sessions.last.session_date.strftime("%-m/%-e/%Y") unless course.sessions.count == 0
  .row
    .col-md-12
      %h2 Current and Upcoming Courses
      - @courses.each do |course|
        .well.clearfix
          .row
            .col-md-9
              %h3
                = link_to course.name, course_path(course)
                %small #{course.max_students - course.course_registrations.count} of #{course.max_students} seats available
              %p= course.description.html_safe
            .col-md-3
              .row
                .col-md-12
                  .pull-right.clearfix
                    .course-button{style: 'margin-bottom: 5px;'}
                      = link_to "More Info", course_path(course), class: 'btn btn-success btn-block text-right'
                    .course-button
                      = link_to "Register", new_course_registration_path(course_id: course), class: 'btn btn-primary btn-block text-right'
              .row
                .col-md-12
                  .text-right{style: 'margin-top: 10px;'}
                    %strong
                      %div= course.sessions.first.session_date.strftime("%-m/%-e/%Y") unless course.sessions.count == 0
                      %div thru
                      %div= course.sessions.last.session_date.strftime("%-m/%-e/%Y") unless course.sessions.count == 0
      %h2 Past Courses
      - @past_courses.each do |course|
        .well.clearfix
          .row
            .col-md-9
              %h3= link_to course.name, course_path(course)
              %p= course.description.html_safe
            .col-md-3
              .row
                .col-md-12
                  .pull-right.clearfix
                    = link_to "Register", '#', :class => 'btn btn-primary disabled'
