<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Courses
        <small>Safety Harbor CoderDojo</small>
      </h1>
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to "Courses", courses_path %> </li>
        <li class="active"><%= @course.name %> Sessions</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <!-- Intro Content -->
  <div class="row">
    <div class="col-md-12">

      <table class="table table-fixed">
        <thead>
          <tr>
            <th>Date</th>
            <th>Notes</th>
          </tr>
        </thead>

        <tbody>
          <% @sessions.each do |session| %>
            <tr>
              <td><%= session.session_date.strftime("%-m/%-e/%Y") %> <br /> <%= session.session_date.strftime("%l:%M%P") %></td>
              <td><%= sanitize(session.notes) %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
  <!-- /.row -->



</div>
<!-- /.container -->


<p id="notice"><%= notice %></p>





<br>
