/ Page Content
.container
  / Page Heading/Breadcrumbs
  .row
    .col-lg-12
      %h1.page-header
        Sessions
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li
          = link_to "Sessions", courses_path
        %li.active
          = @course.name
          Meetings
  / /.row
  / Intro Content
  .row
    .col-md-12
      %table.table.table-fixed.table-bordered.table-striped.table-hover
        %thead
          %tr
            %th Date
            %th Notes
        %tbody
          - @sessions.each do |session|
            %tr
              %td
                = session.session_date.strftime("%-m/%-e/%Y")
                %br/
                = session.session_date.strftime("%l:%M%P")
              %td= sanitize(session.notes)
  / /.row
/ /.container
%p#notice= notice
%br/
