.container
  .row
    .col-lg-12
      %h1.page-header
        Course
        %small Safety Harbor CoderDojo
        - if current_user.try(:admin?)
          .pull-right
            = link_to "Edit", edit_course_path(@course), :class => 'btn btn-info'
            = link_to 'New Session', new_course_session_path, :class => 'btn btn-primary'
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li
          = link_to 'Courses', courses_path
        %li.active
          = @course.name
  .row
    .col-md-12
      .well
        %h3= @course.name
        %p= @course.description
  .row
    .col-md-12
      .well
        This course will meet for the following sessions. Please note: a mentor may provide notes specifically for
        that session.
      %table.table.table-fixed.table-bordered.table-striped.table-hover
        %thead
          %tr
            %th Session
            %th Notes
        %tbody
          - @sessions.each do |session|
            %tr
              %td
                = session.session_date.strftime("%-m/%-e/%Y")
                %br/
                = session.session_date.strftime("%l:%M%P")
              %td= sanitize(session.notes)
%p#notice= notice
%br/
