.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        Course
        %small Safety Harbor CoderDojo
        - if current_user.try(:admin?)
          .pull-right
            = link_to "Attendance", admin_course_course_registrations_path(course_id: @course.id), :class => 'btn btn-default'
            = link_to "Edit", edit_admin_course_path(@course), :class => 'btn btn-info'
            = link_to 'New Session', new_admin_course_course_session_path(course_id: @course.id), :class => 'btn btn-primary'
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li
          = link_to 'Courses', courses_path
        %li.active
          = @course.name
  .row
    .col-md-12
      .well
        .course-button
          - if current_user && @current_user_number_of_registrations > 0
            = link_to "You Have #{@current_user_number_of_registrations} Registration(s) for this Course - Click to Register Another", new_course_registration_path(course_id: @course), class: 'btn btn-primary btn-block text-right'
          - elsif @course.seats_remaining > 0
            = link_to "Register", new_course_registration_path(course_id: @course), class: 'btn btn-primary btn-block text-right'
          - else
            = link_to "Register", '#', class: 'btn btn-primary btn-block text-right disabled'
        %h3= @course.name
        - unless @course.minimum_level.nil? || @course.minimum_level == 0
          %p.bg-warning Students must have achieved a minimum of #{@course.minimum_achievement_title} to enroll in this course.
        %p= @course.description.html_safe

  - unless @course.resources.blank?
    .row
      .col-md-12
        .well
          %h3 Course Resources
          %p= @course.resources.html_safe
  .row
    .col-md-12
      .well
        This course will meet for the following sessions. Please note: a mentor may provide notes specifically for
        that session.
      %table.table.table-fixed.table-bordered.table-striped.table-hover
        %thead
          %tr
            %th Session
            %th Notes
            - if current_user.try(:admin?)
              %th
        %tbody
          - @sessions.each do |session|
            %tr
              %td
                = session.session_date.strftime("%-m/%-e/%Y")
              %td= session.notes.html_safe
              - if current_user.try(:admin?)
                %td= link_to 'Edit', edit_admin_course_course_session_path(course_id: @course.id, id: session.id), :class => 'btn btn-primary'

  - if current_user && current_user.admin? && @course.deletable?
    .row
      .col-md-12
        .well
          = link_to 'Delete Course',
            course_path(@course),
            method: :delete,
            data: { confirm: 'Are you sure? This action cannot be undone.' },
            class: 'btn btn-danger btn-block'
