= simple_form_for(@course_registration) do |f|
  = f.error_notification
  = f.hidden_field :user_id
  = f.hidden_field :course_id
  .form-group
    = f.input :course_name, as: :fake, disabled: true, input_html: { value: @course.name }
  .form-group
    = f.association :student, association: current_user.students
  .form-actions
    = f.button :submit, "Register for this course"
