.container
  .row
    .col-lg-12
      %h1.page-header
        Course Registrations & Attendance
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li= link_to 'Courses', courses_path
        %li= link_to @course.name, @course
        %li.active Registration & Attendance
  .row
    .col-md-12
      %table.table.table-fixed
        %thead
          %tr
            %th
            %th Student
            %th Parent Account
            %th{:colspan => "3"}
            - @sessions.each do |session|
              %th= session.session_date.strftime("%-m/%-e")
        %tbody
          - @course_registrations.each_with_index do |course_registration, i|
            %tr
              %td= i+1
              %td= course_registration.student.name
              %td= course_registration.student.user.email
              - @sessions.each do |session|
                %td
