.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        Admin - Users
        %small Safety Harbor CoderDojo
      %ol.breadcrumb
        %li= link_to 'Home', 'http://www.shcoderdojo.org'
        %li= link_to 'Admin', admin_users_path
        %li.active Users
  .row
    .col-md-12
      = search_form_for @q, url: admin_users_path do |f|
        %table.table.table-fixed.table-striped
          %thead
            %tr
              %th
              %th= sort_link(@q, :name, 'Name')
              %th= sort_link(@q, :email, 'Email')
              %th= sort_link(@q, :mobile_number, 'Mobile')
              %th.text-center= sort_link(@q, :number_of_students, 'Students')
              %th= sort_link(@q, :created_at, 'Registered')
              %th.text-center Confirmed
            %tr
              %th
              %th
                = f.search_field :name_cont, label: false
                = f.button :button do
                  %i.fa.fa-search
              %th
                = f.search_field :email_cont, label: false
                = f.button :button do
                  %i.fa.fa-search
              %th
              %th
              %th
              %th
          %tbody
            - @users.each_with_index do |user, i|
              %tr
                %td= i+1
                %td= link_to user.name, admin_user_path(user.id)
                %td= link_to user.email, admin_user_path(user.id)
                %td= user.mobile_number
                %td.text-center= user.students.count
                %td= user.created_at.strftime("%-m/%-e/%Y %l:%M%p")
                %td.text-center
                  - if user.confirmed_at?
                    %span.glyphicon.glyphicon-ok{'aria-hidden': true}
