%li= link_to 'About', 'http://www.shcoderdojo.org/about'
%li= link_to 'Our Program', 'http://www.shcoderdojo.org/program'
%li= link_to 'Courses', 'http://www.shcoderdojo.org/courses'
%li= link_to 'FAQ', 'http://www.shcoderdojo.org/faq'
%li= link_to 'Mentor', 'http://www.shcoderdojo.org/mentor'
